.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size:13px;
}

.badge-sm {
  width: 6px;
  height: 6px;
}

.screen-header__badge {
  position: absolute;
  right: 0px;
  top: 0px;
}
