.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child,
.user-component__column {
  display: flex;
  align-items: center;
}

.user_component__avatar {
  width: 72px;
  height: 72px;
  border-radius: 45%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-right: 20px;
  display:block;
  overflow: hidden;
}

.user-component__title {
  font-weight: 600;
  font-size:20px;
}

.user-component__title--not-bold {
  font-weight: 300;
}

.user-component__subtitle {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.user-component__subtitle i {
  margin-left: 4px;
  color: tomato;
}

.user_component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user_component__avatar--sm {
  width: 62px;
  height: 62px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 8px;
  display: block;
  font-size:14px;
}

.user-component_list {
  padding-bottom: 16px;
}

.user-component_list:not(:first-child) {
  padding-top:16px;
  border-top: 1px solid var(--border_color);
}
